/*
    Alarmlist.js报警
*/

.Alarmlist .alarmitem{
    
}
.handle{
    width:100%;
    height: 56px;
    background: #C0C0C0;
    color: #ffffff;
    text-align: center;
    line-height:56px;
    font-size: 14px;
    margin-top:calc(100% - 28px);
}
.handle-right{
    width: 90%;
    height: 100%;
    border-right: 1px dashed #E1E1E1;
}
.pliceImg{
    width: 100%;
    height: 200px;
    background: #ffffff;
    box-shadow: 0 0 10px #ffffff;
    cursor: pointer;
}
.img{
    width: 100%;
    height: 100%;
}
.img img{
    width: 100%;
    height: 100%;
}
.policeContext{
    position: relative;
    width: 100%;
    height: 100px!important;
    border: 1px solid #CBCBCB;
    margin-top: 23px;
    background: #ffffff;
}
.line-police{
    margin:8px 0px;
    padding-left: 16px;
}

.policeName{
    color: #277FD0;
    font-weight: bolder;
}
.camera{
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #141415;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 20px);
    bottom: -20px;
    cursor: pointer;
}
.policeIcon{
    position: relative;
}
.backImg{
    width:100%;
    height:120px;
    text-align: center;
}
.backImg img{
    width: 10%;
    height: 100%;
}
.colorgreen{
    color:#0FA420;
}
.colorred{
    color:#F22727;
}
.colorblue{
    color:#2C39B1;
}
.colortheme{
    color:#313653;
}
.typegreen{
    border:1px solid #0FA420;
    width: 100%;
    height: 200px;
    border-radius: 5px;
}
.typered{
    border:1px solid #F22727;
    width: 100%;
    height: 200px;
    border-radius: 5px;
}
.typeblue{
    border:1px solid #2C39B1;
    width: 100%;
    height: 200px;
    border-radius: 5px;
}
.typetheme{
    border:1px solid #313653;
}
.iconColor1{
    color:#FB7575;
}
.iconColor2{
    color:#5DCB9A;
}
.iconColor3{
    color:#C0C0C0;
}
/*省略号*/
.overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cursor{
    cursor: pointer;
}
.pageSize{
    width:100%;
    text-align:center;
    margin-top: 70px;
}

/*设备详情*/
.alarmflex{
    display:flex;
    width: 100%;
}
.flexleft{
    width:706px;
}

.flexright{
    padding-left:10px;
}
@media screen and (max-width: 1280px) {
    .lr {
        margin: 20px 0 0 76px;
    }
}
@media screen and (min-width: 1280px) {
    .lr {
        margin: 3px 0 0 0;
    }
}
.mt{
    margin: 3px 0 0 0;
}
.word-row{
    font-size: 16px;
    font-family: MicrosoftYaHei;
}
.sure-row{
    margin-top: 35px;
}
.sure-col-l{
    width: 100%;
    height: 75px;
    border-top: 1px solid #CBCBCB;
    border-right: 1px solid #CBCBCB;
    line-height: 75px;
}
.sure-col-c{
    width: 100%;
    height: 75px;
    border-top: 1px solid #CBCBCB;
    border-right: 1px solid #CBCBCB;
}
.sure-col-r{
    width: 100%;
    height: 75px;
    border-top: 1px solid #CBCBCB;
}
.circle-sure{
    width: 18px;
    height: 18px;
    background-color:#0fa420;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: relative;
    top: 35%;
    left: 30%;
    float: left;
}
.word-sure{
    color: #0fa420;
    position: relative;
    left: 35%;
    top: -2px;
}
.circle-xj{
    width: 18px;
    height: 18px;
    background-color:#F22727;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: relative;
    top: 35%;
    left: 30%;
    float: left;
}
.word-xj{
    color: #F22727;
    position: relative;
    left: 35%;
    top: 34%;
}
.circle-hl{
    width: 18px;
    height: 18px;
    background-color:#2C39B1;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: relative;
    top: 35%;
    left: 30%;
    float: left;
}
.word-hl{
    color: #2C39B1;
    position: relative;
    left: 35%;
    top: 34%;
}
#triangle-topright-green {
    width: 0;
    height: 0;
    border-top: 80px solid #0fa420;
    border-left: 100px solid transparent;
    position: absolute;
    right: 0;
}
.triangle{
    width: 0;
    height: 0;
    border-left:15px solid transparent;
    border-right: 15px solid #131313;
    border-bottom: 15px solid transparent;
    position: absolute;
    right: 0;
}
#triangle-topright-red {
    width: 0;
    height: 0;
    border-top: 80px solid #F22727;
    border-left: 100px solid transparent;
    position: absolute;
    right: 0;
}
#triangle-topright-blue {
    width: 0;
    height: 0;
    border-top: 80px solid #2C39B1;
    border-left: 100px solid transparent;
    position: absolute;
    right: 0;
}
