/*
    Alarmlist.js报警
*/

.Alarmlist .alarmitem{
    
}
.handle{
    width:100%;
    height: 56px;
    background: #C0C0C0;
    color: #ffffff;
    text-align: center;
    line-height:56px;
    font-size: 14px;
    margin-top:calc(100% - 28px);
}
.handle-right{
    width: 90%;
    height: 100%;
    border-right: 1px dashed #E1E1E1;
}

.policeContext{
    position: relative;
    width: 100%;
    height: 100px!important;
    border: 1px solid #CBCBCB;
    margin-top: 23px;
    background: #ffffff;
}
.line-police{
    margin:8px 0px;
    padding-left: 16px;
}

.policeName{
    color: #277FD0;
    font-weight: bolder;
}
.camera{
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #141415;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 20px);
    bottom: -20px;
    cursor: pointer;
}
.policeIcon{
    position: relative;
}
.backImg{
    width:100%;
    height:120px;
    text-align: center;
}
.backImg img{
    width: 10%;
    height: 100%;
}
.colorgreen{
    color:#5DCB9A;
}
.colorred{
    color:#FB7575;
}
.colorblue{
    color:#2C39B1;
}
.colortheme{
    color:#313653;
}
.typeOrange{
    border:1px solid orange;
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.typegreen{
    border:1px solid #5DCB9A;
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.typered{
    border:1px solid #FB7575;
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.typeblue{
    border:1px solid #28B6E6;
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.typetheme{
    border:1px solid #313653;
}
.iconColor1{
    color:#FB7575;
}
.iconColor2{
    color:#5DCB9A;
}
.iconColor3{
    color:#C0C0C0;
}
/*省略号*/
.overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cursor{
    cursor: pointer;
}
.pageSize{
    width:100%;
    text-align:center;
    margin:25px auto;
}

/*设备详情*/
.alarmflex{
    display:flex;
    width: 100%;
}
.flexleft{
    width:706px;
}

.flexright{
    padding-left:10px;
}
@media screen and (max-width: 1280px) {
    .lr {
        margin: 20px 0 0 76px;
    }
}
@media screen and (min-width: 1280px) {
    .lr {
        margin: 3px 0 0 0;
    }
}
.mt{
    margin: 3px 0 0 0;
}
.word-row{
    font-family: MicrosoftYaHei;
}
.fontstyle{
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    margin: 0 !important;
}
.fontstyletime{
    font-size: 12px!important;
}
@media screen and (min-width: 1600px) {
    .pliceImgyal{
        width: 100%;
        background: #ffffff;
        box-shadow: 0 0 10px #ffffff;
        cursor: pointer;
    }
    .pliceImgyal img{
        width: 100%;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
}
@media screen and (max-width: 1600px) {
    .pliceImgyal{
        width: 100%;
        height: 123px;
        background: #ffffff;
        box-shadow: 0 0 10px #ffffff;
        cursor: pointer;
    }
    .pliceImgyal img{
        width: 100%;
        height: 100%;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
}
.sure-row{
    font-size: 13px;
    cursor: pointer;
}
.sure-col-l{
    width: 100%;
    height: 50px;
    border-top: 1px solid #CBCBCB;
    border-right: 1px solid #CBCBCB;
    line-height: 77px;
    margin-top:13px;
}
.sure-col-c{
    width: 100%;
    height: 50px;
    border-top: 1px solid #CBCBCB;
    border-right: 1px solid #CBCBCB;
}
.sure-col-r{
    width: 100%;
    height: 50px;
    border-top: 1px solid #CBCBCB;
}
.circle-sure{
    width: 10px;
    height: 10px;
    background-color:#5DCB9A;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: relative;
    top: 38%;
    left: 30%;
    float: left;
}
.word-sure{
    color: #5DCB9A;
    position: relative;
    left: 34%;
    top: -30%;
}
.circle-xj{
    width: 10px;
    height: 10px;
    background-color:#FB7575;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: relative;
    top: 38%;
    left: 30%;
    float: left;
}
.word-xj{
    color: #FB7575;
    position: relative;
    left: 35%;
    top: 28%;
}
.circle-hl{
    width: 10px;
    height: 10px;
    background-color:#28B6E6;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: relative;
    top: 38%;
    left: 30%;
    float: left;
}
.word-hl{
    color: #28B6E6;
    position: relative;
    left: 35%;
    top: 28%;
}
.triangle-topright-green {
    width: 0;
    height: 0;
    border-color: transparent white;
    border-width: 0px 60px 60px 0px;
    border-style: solid;
    position: absolute;
    right: 0;
}
.trianglegreen{
    border-color:transparent  #5DCB9A!important;
}
.trianglered{
    border-color:transparent #FB7575!important;
}
.triangleblue{
    border-color:transparent #28B6E6!important;
}
.triangleOrange{
    border-color:transparent orange!important;
}
.triangle{
    width: 0;
    height: 0;
    border-left:15px solid transparent;
    border-right: 15px solid #131313;
    border-bottom: 15px solid transparent;
    position: absolute;
    right: 0;
}
.r_flex{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content:space-between;
}
.time-col{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.listmargintop{
    margin-bottom: 20px;
}
.xuanzhuan{
    position: absolute;
    color: #000;
    right: -62px;
    display: inline-block;
    width: 37px;
    top: 12px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    color: white;
    font-size: 24%;
}
.loadding{
    width: 100%;
    margin: 25px auto;
}

