/*
    RollcallRecord.js 点名记录
*/
.rollRow{
    margin-left: 3%;
}
@media screen and (max-width: 1900px){
    .rollCall{
        display: flex;
        flex-direction:row;
        margin: 8% 0!important;
    }
    .rollRow{
        margin-left: 3%;
    }
}
.rollCall{
    display: flex;
    flex-direction:row;
    margin: 8% 0;
}
.fontColor{
    color:#429019;
}
.fontColor1{
    color:#FB7575;
}
/*省略号*/
.overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*
    RollcallRecordModel.js 点名记录详情
*/
.rollcallModel{
    margin: 3% 0;
}
.rollcallModelTitle{
    display: flex;
    justify-content: center;
}
.fontSizeModel{
    font-size: 1.3vmax;
}
/*
RollcallTask.js 点名任务
*/
.cardContext{
    position: relative;
}
.cardContext .titles{
    display: flex;
    padding:1% 2%;
    background: #494748;
    position: absolute;
    align-items: center;
    justify-content: center;
    top:3vh;
    left: -1.5vh;
    border-radius: 4px;
    color: white;

}